nbproject/build-impl.xml
nbproject/private/
nbproject/project.properties
nbproject/project.xml
build.xml
build/
dist/
/Test/nbproject/private/
*.properties
kloeflowershopv1-ejb/src/conf/META-INF/glassfish-resources.xml
